* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.3s ease;
    scroll-behavior: smooth;
}

.routes {
    min-height: 80vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
}